activemq-data
amqstore
.classpath
.clover
derby-home
derby.log
.DS_Store
.externalToolBuilders
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.project
.scala_dependencies
.settings
.springBeans
spring-integration-gemfire/BACKUP_*
spring-integration-gemfire/KEYS_*
spring-integration-gemfire/RECOVERY_*
surefire*
*.swp
target
